
.input {
  height: 46px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #E5E5E5;

  padding: 0 16px;

  &::placeholder {
    color: #B9B9B9;
  }

  &:focus {
    border-color: #FAE29F;
  }
}

.search__result {
  background-color: red;
}