
.info {
  padding-top: 86px;

  @include mq-under-768 {
    padding-top: 60px;
  }
}

.info__header {
  font-size: 24px;
  font-weight: bold;
  line-height: 45px;

  @include mq-under-768 {
    font-size: 18px;
    line-height: 32px;
  }
}

.info__body {
  border-top: 1px solid #DFDFDF;
  line-height: 26px;

  padding-top: 24px;
  margin-bottom: 32px;

  display: flex;
  justify-content: space-between;

  @include mq-under-768 {
    flex-flow: column;
  }
}

.info__left-column {
  div:first-child {
    margin-bottom: 24px;
  }

  p:first-child {
    font-weight: bold;
  }

  @include mq-under-768 {
    margin-bottom: 24px;
  }
}

.info__digits {
  max-height: 125px;
  border-radius: 3px;
  background-color: #F8F8F8;

  padding: 24px;

  p {
    min-width: 170px;
  }

  span {
    font-weight: bold;

    margin-right: 10px;
  }
}