.button {
  background-color: transparent;
  color: #B9B9B9;
  font-size: 18px;
}

.button_unsaved {
  height: 46px;
  border-radius: 3px;
  background-color: red;
  color: white;

  padding: 0 20px;
}

.button__img {
  margin-right: 9px;
}