@import "../helpers/reset";

@import "Suggestion/Suggestion";
@import "SaveButton/SaveButton";
@import "Input/Input";
@import "List/List";
@import "Info/Info";

body {
  max-width: 1440px;
  font: 14px Verdana, Arial, sans-serif;
}

.app {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}