
doctype html
html
    head
        title Autopiter
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href=`${htmlWebpackPlugin.files.chunks.main.css}`)
        //link(rel="stylesheet" href="style.css")
    body
        div#app
        script(src=`${htmlWebpackPlugin.files.chunks.main.entry}`)
        //script(src='main.js')